div{
    text-align: center;
}
input:hover{
    background-color: yellow;
}

input:focus{
    background-color: lime;
    border: 6px groove grey;
}
input[type="radio"]:hover{
    box-shadow: 0 0 0 4px yellowgreen;
}
input[type="radio"]:focus{
    box-shadow: 0 0 0 4px yellow;
}
input[type="submit"]:hover{
   background-color: green;
   color: white;
   border: none;
   padding: 20px 20px;
   font-size: 15px;
}